<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Syahrizaldev">
	<title>Responsive Mega Menu Example</title>
	<!-- <link rel="stylesheet" type="text/css" href="./css/reset.min.css"> -->
	<link rel="stylesheet" type="text/css" href="../../../stylesheets/task.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.6.3/css/ionicons.min.css">
</head>

<body>
	<!-- Section: Header -->
	<header class="header">
		<div class="container">
			<div class="wrapper">
				<div class="header-item-left">
					<h1><a href="./index.html" class="brand">Learn</a></h1>
				</div>
				<!-- Section: Navbar Menu -->
				<div class="header-item-center">
					<div class="overlay"></div>
					<nav class="menu">
						<div class="menu-mobile-header">
							<button type="button" class="menu-mobile-arrow"><i class="ion ion-ios-arrow-back"></i></button>
							<div class="menu-mobile-title"></div>
							<button type="button" class="menu-mobile-close"><i class="ion ion-ios-close"></i></button>
						</div>
						<ul class="menu-section">
							<li><a href="#">Home</a></li>
	
							<li class="menu-item-has-children">
								<a href="#">Tasks <i class="ion ion-ios-arrow-down"></i></a>
								<div class="menu-subs menu-mega menu-column-4">
									<div class="list-item">
										<h4 class="title">Men's Fashion</h4>
										<ul>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
										</ul>
										<h4 class="title">Kid's Fashion</h4>
										<ul>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
										</ul>
									</div>
									<div class="list-item">
										<h4 class="title">Women's Fashion</h4>
										<ul>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
										</ul>
										<h4 class="title">Health & Beauty</h4>
										<ul>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
										</ul>
									</div>
									<div class="list-item">
										<h4 class="title">Home & Lifestyle</h4>
										<ul>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
											<li><a href="#">Product List</a></li>
										</ul>        
									</div>
                  <div class="list-item">
                    <h4 class="title">Home & Lifestyle</h4>
                    <ul>
                      <li><a href="#">Product List</a></li>
                      <li><a href="#">Product List</a></li>
                      <li><a href="#">Product List</a></li>
                      <li><a href="#">Product List</a></li>
                      <li><a href="#">Product List</a></li>
                      <li><a href="#">Product List</a></li>
                      <li><a href="#">Product List</a></li>
                      <li><a href="#">Product List</a></li>
                      <li><a href="#">Product List</a></li>
                    </ul>
                    
                  </div>
    
									
									</div>
							</li>
							<li class="menu-item-has-children">
								<a href="#">Modules <i class="ion ion-ios-arrow-down"></i></a>
								<div class="menu-subs menu-column-1">
									<ul>
										<li><a href="#">Article One</a></li>
										<li><a href="#">Article Two</a></li>
										<li><a href="#">Article Three</a></li>
										<li><a href="#">Article Four</a></li>
									</ul>
								</div>
							</li>
              <li><a href="#">Courses</a></li>
              <li><a href="#">Discussion</a></li>
							
					</nav>
				</div>

				<div class="header-item-right">
					<!-- <a href="#" class="menu-icon"><i class="ion ion-md-search"></i></a> -->
					<!-- <a href="#" class="menu-icon"><i class="ion ion-md-heart"></i></a> -->
					<!-- <a href="#" class="menu-icon"><i class="ion ion-md-cart"></i></a> -->
					<button type="button" class="menu-mobile-trigger" style="background-color:white">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</button>
				</div>

			</div>
		</div>
	</header>
	<div id="myModal" class="modal">
		<span class="close">&times;</span>

		<!-- Modal content -->
		<div class="modal-content animate">

			<div class="form-structor">
				<div class="signup">
					<h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
					<div class="form-holder">
						<input type="text" class="input" placeholder="Name" />
						<input type="email" class="input" placeholder="Email" />
						<input type="password" class="input" placeholder="Password" />
					</div>
					<button class="submit-btn">Sign up</button>
				</div>
				<div class="login slide-up">
					<div class="center">
						<h2 class="form-title" id="login"><span>or</span>Log in</h2>
						<div class="form-holder">
							<input type="email" class="input" placeholder="Email" />
							<input type="password" class="input" placeholder="Password" />
						</div>
						<button class="submit-btn">Log in</button>
					</div>
				</div>
			</div>
		</div>
		</div>
		

	<!-- Section: Main -->
	
   <div class="yy" >
	<div class="content">
		<button id="myBtn">Open Me</button>
		<h3 class="heading">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, ea molestias laborum ab eius, quae accusantium ratione inventore iure aspernatur quo! Facilis neque fugit sequi eligendi quasi dolores voluptates error, tempore alias ut itaque eum! Rem impedit et libero nobis atque sed repudiandae sapiente aut sint, dicta illo aliquid, ad, nisi modi nulla reprehenderit ex. Incidunt possimus aperiam maxime, repellendus quod reiciendis iure velit magni laudantium fugit nostrum aspernatur modi saepe cum, corporis architecto repudiandae necessitatibus nesciunt, quisquam numquam culpa nisi! Dolorum ipsum at commodi magnam laborum qui non ducimus dolorem, aut voluptatibus possimus inventore suscipit id numquam? Reiciendis, et tenetur tempora dolorum maxime laudantium consequatur culpa nisi odit praesentium mollitia, neque officia. Assumenda omnis dolorum modi accusamus. Tempore saepe ab, nisi unde eos beatae quibusdam itaque maxime obcaecati labore doloremque dicta illum vel, voluptatum quasi voluptatibus. Quia rem harum reiciendis aliquam perspiciatis architecto ex maiores incidunt, officia quidem hic ducimus itaque quo ipsa at expedita id. Optio voluptates quo, molestias ad nihil iste, adipisci sunt harum reprehenderit esse quae! Quis possimus impedit quibusdam. Ratione dignissimos iste nam, impedit reiciendis aspernatur doloribus non quisquam ad molestias labore minus nesciunt deserunt facilis harum! Aut eum ut earum quidem, ex voluptatum maiores quaerat nemo! Hic eos aperiam cumque, nostrum illo nesciunt, repellendus harum praesentium magnam possimus deserunt architecto vitae tempore molestiae corrupti repudiandae, enim soluta fugit officia nam a in. Eligendi quisquam voluptas quasi deserunt nobis tempora, voluptate quaerat dignissimos aliquam nihil fugit delectus quam a odio distinctio! Sequi molestias tempore, nobis et quisquam magni deserunt voluptate vitae, nesciunt quod dignissimos neque, ad aliquam eius exercitationem! Corporis, at nesciunt sint et atque laboriosam, saepe ipsa eum amet asperiores repellendus possimus sit accusantium harum. Earum obcaecati facilis numquam natus fugit eveniet incidunt dolorem, a optio excepturi, quaerat, fuga at alias? Consequatur facere impedit et cupiditate dolorum, aliquid in, tempora, dolore distinctio quia iusto? Excepturi dolores error aliquid optio voluptas recusandae, distinctio cumque quisquam aspernatur quae delectus! Inventore, quisquam vero nostrum aperiam voluptatem tempore fugiat sint velit pariatur nobis nulla fugit ea id nesciunt perferendis impedit officia sequi. Repellendus hic modi officia totam odio exercitationem qui corrupti. Cupiditate aspernatur nesciunt odit quo, fuga cumque odio eos maxime sequi nam reiciendis magnam esse consequuntur expedita vel vitae, quia recusandae voluptatem, tenetur atque natus. Esse possimus quos qui aliquam illo cumque saepe quidem nesciunt iusto laborum eum corrupti sint provident delectus distinctio molestiae, dolores dolorum inventore minima officiis? Accusamus repellendus nisi quaerat nobis excepturi mollitia temporibus repellat dicta aspernatur distinctio? Sint quas facere adipisci quibusdam minima doloribus excepturi laudantium cum atque consequatur sapiente optio vitae, repudiandae temporibus ex dolore, rerum earum facilis harum necessitatibus nesciunt in explicabo porro! Eaque quas similique officiis totam, debitis recusandae assumenda qui atque, sed eius perspiciatis? Vitae quis reiciendis laudantium et quam molestiae! Beatae velit, dolorum incidunt nesciunt magnam, accusantium molestias veritatis amet laudantium eaque porro rerum. Eligendi, quam vero alias libero fugiat incidunt, recusandae repellat sint labore perferendis architecto non aliquid quod obcaecati quos ratione odio corrupti dicta et similique!</h3>
	</div>
</div>

	<script src="../../../scripts/programming_modules/m1.js" defer></script>
</body>
<script>
</script>

</html>