<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Learn&Earn</title>
  <link rel="stylesheet" href="../stylesheets/home.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Varela+Round&display=swap"
    rel="stylesheet">
</head>

<body>
  <!-- Code for navbar starts here -->
  <nav class="navbar">
    <a href="/" class="navbar-brand"><span>Learn</span>&<span>Earn</span></a>
    <!-- <a href="#" class="navbar-brand"><img src="https://www.dropbox.com/s/zzwcz0xpj95sy7p/logo%20%2810%29.png?raw=1" style="width: 50px; vertical-align: middle;"></a> -->
    <ul>
      <li><a href="/courses">Tracks</a></li>
      <li><a href="/discussion">Discussion</a></li>
      <li><a href="/compile">Compile</a></li>
    </ul>
    <button class="navbar-toggler">
      <span></span>
    </button>
  </nav>
  <!-- Code for navbar ends here -->
  <!-- Code for slider starts here -->
  <div class="container">
    <div class="slider">

      <div class="box1 box">
        <div class="bg"></div>
        <div class="details">
          <h1 style="color:white">Earn While You Learn</h1>
          <p>
            What could be more exciting than learning and earning together?
          </p>
          <button>Check Now</button>
        </div>

        <div class="illustration">
          <div class="inner"></div>
        </div>
      </div>


      <div class="box2 box">
        <div class="bg"></div>
        <div class="details">
          <h1 style="color:white">Learning Made Fun</h1>
          <p>
            Chilling at Netflix is fun, So is Learning at Learn and Earn.
          </p>
          <button>Check Now</button>
        </div>

        <div class="illustration">
          <div class="inner"></div>
        </div>
      </div>

      <div class="box3 box">
        <div class="bg"></div>
        <div class="details">
          <h1 style="color:white">Get Rewarded</h1>
          <p>
            Ever thought of earning a Starbucks Coffee on Completing a course, Dont Worry We make it a reality Now.
          </p>
          <button>Check Now</button>
        </div>

        <div class="illustration">
          <div class="inner"></div>
        </div>
      </div>

      <div class="box4 box">
        <div class="bg"></div>
        <div class="details">
          <h1 style="color:white">Jaw-Droping UI</h1>
          <p>
            Learn and Earn comes with a marvelous User Interface and other mesmerizing features which motivates coders
            to improve their learning.
          </p>
          <button>Check Now</button>
        </div>

        <div class="illustration">
          <div class="inner"></div>
        </div>
      </div>

      <div class="box5 box">
        <div class="bg"></div>
        <div class="details">
          <h1 style="color:white">Get Started</h1>
          <p>
            Check out the most premium courses in the town designed in an easy yet effective manner.
          </p>
          <button>Check Now</button>
        </div>

        <div class="illustration">
          <div class="inner"></div>
        </div>
      </div>

    </div>

    <svg xmlns="http://www.w3.org/2000/svg" class="prev" width="56.898" height="91" viewBox="0 0 56.898 91">
      <path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#fff" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="next" width="56.898" height="91" viewBox="0 0 56.898 91">
      <path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#fff" /> -->
    </svg>
    <div class="trail">
      <div class="box1 active">1</div>
      <div class="box2">2</div>
      <div class="box3">3</div>
      <div class="box4">4</div>
      <div class="box5">5</div>
    </div>
  </div>
  <!-- Code for slider ends here -->
  <!-- code for use cases starts here -->
  <h2 class="heading">What's there for you</h2>
  <section class="features__container">
    <!-- Feature 1 -->
    <div class="feature">
      <div class="feature__details">
        <h3 class="feature__title">Earn While you Learn.</h3>
        <h5 class="feature__sub__title">
          Best-in-class content with detailed and structured curriculums, aligned to the Tech industry is delivered to you to ensure you are a standout of the Tech industry.
        </h5>
      </div>
      <div class="feature__image__container">
        <img
          src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png"
          alt="Feature image"
          class="feature__image"
        />
        <div class="feature__backgroud__video__container">
          <video
            autoplay=""
            loop=""
            muted=""
            class="feature__backgroud__video"
          >
            <source
              src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-in-0819.m4v"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
    </div>
    <!-- Feature 2 -->
    <div class="feature">
      <div class="feature__details">
        <h3 class="feature__title">
          Learning made Fun
        </h3>
        <h5 class="feature__sub__title">
          An interactive User Interface with unconventional features which stimulates coders to relinquish their old school learning and start with something new and exciting.
        </h5>
      </div>
      <div class="feature__image__container">
        <img
          src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg"
          alt="Feature image"
          class="feature__image"
        />
        <div class="feature__2__poster__container">
          <div class="poster__container">
            <img
              src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png"
              alt="poster"
              class="poster"
            />
          </div>
          <div class="poster__details">
            <h4>Stranger Things</h4>
            <h6>Downloading...</h6>
          </div>
          <div class="download__gif__container">
            <img
              src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif"
              alt="downloading gif"
              class="gif"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Feature 3 -->
    <div class="feature">
      <div class="feature__details">
        <h3 class="feature__title">Be heard, be seen, be part of a greater discussion.</h3>
        <h5 class="feature__sub__title">
          Get Personalised review of your work from our experts.
        </h5>
      </div>
      <div class="feature__image__container feature__3__image__container">
        <img
          src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile-in.png"
          alt="Feature image"
          class="feature__image feature__3__image"
        />
        <div
          class="
            feature__backgroud__video__container
            feature__3__backgroud__video__container
          "
        >
          <video
            autoplay=""
            loop=""
            muted=""
            class="feature__backgroud__video feature__3__backgroud__video"
          >
            <source
              src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices-in.m4v"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
    </div>
    <!-- Feature 4 -->
    <div class="feature">
      <div class="feature__details">
        <h3 class="feature__title">Interactive Discussion Platform.</h3>
        <h5 class="feature__sub__title">
          With our interactive discussion portal, get your doubts resolved with your companions.
        </h5>
      </div>
      <div class="feature__image__container">
        <img
          src="https://occ-0-4023-2164.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABVxdX2WnFSp49eXb1do0euaj-F8upNImjofE77XStKhf5kUHG94DPlTiGYqPeYNtiox-82NWEK0Ls3CnLe3WWClGdiJP.png?r=5cf"
          alt="Feature image"
          class="feature__image"
        />
      </div>
    </div>
  </section>
  
  
  <!-- code for use cases ends here here -->
  <!-- Code for courses starts here -->
  <div class="ag-format-container">
    <h2 class= "heading">Get Started With Most Popular Courses in the Town</h2>
    <div class="ag-courses_box" style="padding-top: 4rem;">
      <!-- <h1 style="color:white;width:98vw;font-size: 2rem; text-align: center; padding:1 rem;margin:23px">Get Started With Most Popular Courses in Town</h1> -->
      <div class="ag-courses_item">
        <a href="/programming" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">
            Programming Basics
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="/web" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">
            Web Design
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="/dsa" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">
            Data Structure and Algorithms
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="/ml" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>

          <div class="ag-courses-item_title">
            Machine Learning
          </div>
        </a>
      </div>

    </div>
  </div>
  <!-- code for courses ends here -->
  <!-- Code for footer starts here -->
  <footer>
    <div>
      <span class="logo">Learn and Earn</span>
    </div>

    <div class="row">
      <div class="col-3">
        <div class="link-cat" onclick="footerToggle(this)">
          <span class="footer-toggle"></span>
          <span class="footer-cat">Solution</span>
        </div>
        <ul class="footer-cat-links">
          <li><a href=""><span>Interprise App Development</span></a></li>
          <li><a href=""><span>Android App Development</span></a></li>
          <li><a href=""><span>ios App Development</span></a></li>
        </ul>
      </div>
      <div class="col-3">
        <div class="link-cat" onclick="footerToggle(this)">
          <span class="footer-toggle"></span>
          <span class="footer-cat">Industries</span>
        </div>
        <ul class="footer-cat-links">
          <li><a href=""><span>Healthcare</span></a></li>
          <li><a href=""><span>Sports</span></a></li>
          <li><a href=""><span>ECommerce</span></a></li>
          <li><a href=""><span>Construction</span></a></li>
          <li><a href=""><span>Club</span></a></li>
        </ul>
      </div>
      <div class="col-3">
        <div class="link-cat" onclick="footerToggle(this)">
          <span class="footer-toggle"></span>
          <span class="footer-cat">Quick Links</span>
        </div>
        <ul class="footer-cat-links">
          <li><a href="/"><span>Home</span></a></li>
          <li><a href="/courses"><span>Tracks</span></a></li>
          <li><a href="/discussion"><span>Discussion</span></a></li>
          <li><a href="/compile"><span>Compile</span></a></li>
        </ul>
      </div>
      <div class="col-3" id="newsletter">
        <span>Stay Connected</span>
        <form id="subscribe">
          <input type="email" id="subscriber-email" placeholder="Enter Email Address" />
          <input type="submit" value="Subscribe" id="btn-scribe" />
        </form>

       

        <div id="address">
          <span>Office Location</span>
          <ul>
            <li>
             
              <div>Ghaziabad, New Delhi, India<br />
                Room No:404, H Block Hostel,SRM Institute of Science and Technology </div>
            </li>
          </ul>
        </div>

      </div>
     
    <div id="copyright">
      <!-- &copy; All Rights Reserved 2022-23 -->
    </div>
    <div id="owner">
      <span>
        Designed by <a href="/">Team Learn and Earn</a>
      </span>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Code for footer ends here -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.2/gsap.min.js"></script>
  <!-- CSSRulePlugin JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.2/CSSRulePlugin.min.js"></script>
  <!-- <script src="home.js"></script> -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <!-- <script>
    AOS.init();
  </script> -->
  <script src="../scripts/home.js"></script>
</body>

</html>