<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="../stylesheets/programming.css">
    <title>Document</title>
</head>

<body>
    <!-- Html for navbar starts here-->
    <header class="header-area">
        <!-- site-navbar start -->
        <div class="navbar-area">
            <div class="container">
                <nav class="site-navbar">
                    <!-- site logo -->
                    <a href="/" class="site-logo">LEARN</a>

                    <!-- site menu/nav -->
                    <ul>
                        <li><a href="/home">home</a></li>
                        <li><a href="/courses">Tracks</a></li>
                        <li><a href="/discussion">Discussion</a></li>
                        <li><a href="/compile">Compile</a></li>
                        
                    </ul>

                    <!-- nav-toggler for mobile version only -->
                    <button class="nav-toggler">
                        <span></span>
                    </button>
                </nav>
            </div>
        </div><!-- navbar-area end -->


    </header>
    <!-- Html for navbar ends here-->
    <!-- Html for modules starts here -->
    <h1 style="color: #ffffff;text-align:center;margin-bottom: 50px;margin-top: 35px;font-size: 35px;">Programming Basics</h1>
    <div class="container">
        <div class="timeline">
            <div class="timeline-container" id="one">
                <div class="timeline-icon">
                    <i class="far fa-grin-wink"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Module 1</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">1 Hours Ago</p>
                </div>
            </div>
            <div class="timeline-container" id="two">
                <div class="timeline-icon">
                    <i class="far fa-grin-hearts"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Module 2</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">2 Hours Ago</p>
                </div>
            </div>
            <div class="timeline-container" id="three">
                <div class="timeline-icon">
                    <i class="far fa-grin-tears"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Module 3</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">6 Hours Ago</p>
                </div>
            </div>
            <div class="timeline-container" id="four">
                <div class="timeline-icon">
                    <i class="far fa-grimace"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Module 4 </span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">1 Day Ago</p>
                </div>
            </div>
            <div class="timeline-container" id="five">
                <div class="timeline-icon">
                    <i class="far fa-grin-beam-sweat"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Module 5</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">3 Days Ago</p>
                </div>
            </div>
            <div class="timeline-container" id="six">
                <div class="timeline-icon">
                    <i class="far fa-grin"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Module 6</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">4 Days Ago</p>
                </div>
            </div>
            <div class="timeline-container" id="seven">
                <div class="timeline-icon">
                    <i class="far fa-grimace"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Module 7</span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">1 Day Ago</p>
                </div>
            </div>
            <div class="timeline-container" id="eight">
                <div class="timeline-icon">
                    <i class="far fa-grimace"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Module 8 </span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">1 Day Ago</p>
                </div>
            </div>
            <div class="timeline-container" id="nine">
                <div class="timeline-icon">
                    <i class="far fa-grimace"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Module 9 </span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">1 Day Ago</p>
                </div>
            </div>
            <div class="timeline-container" id="ten">
                <div class="timeline-icon">
                    <i class="far fa-grimace"></i>
                </div>
                <div class="timeline-body">
                    <h4 class="timeline-title"><span class="badge">Module 10 </span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                    <p class="timeline-subtitle">1 Day Ago</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Html for modules ends here -->

    <script src="../scripts/programming.js"></script>

</body>

</html>